<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">BLOG</a>
    </header>
    <h1>これは管理者ページです。</h1>
    <div class="container">
      <div class="container-header">
        <h1>記事作成</h1>
      </div>
      <div class="articles-form-wrapper">
        <p class="form-label">記事</p>
        <form action="/create" method="post">
            <label for="articleTitle">Title</label>
            <textarea id="articleTitle" name="articleTitle" rows="2" cols="30"></textarea>
            
            <label for="articleSummary">Summary</label>
            <textarea id="articleSummary" name="articleSummary" rows="4" cols="30"></textarea>
            
            <label for="articleContent">Content</label>
            <textarea id="articleContent" name="articleContent" rows="8" cols="30"></textarea>

            <input type="submit" value="追加">
        </form>
        
      </div>
      <a href="/adminList" class="cancel-button">もどる</a>
    </div>
  </body>
</html>